*{
    padding: 0;
    margin: 0;
}
body{
    background-color: antiquewhite;
}
.main{
    display:flex;
    /* align-items: center; */
    justify-content: center;
    margin-top: 5rem;

}
.box{
    padding-left: 0.5rem;
    width: 22vw;
    height: 60vh;
    border-radius: 0.5rem;
    box-shadow: 0 0.2rem 3rem rgba(0,0,0, 0.2);
    background: #a5bbdd;
    position: relative;
    overflow: hidden;
   
}

.bi-brightness-high-fill, .bi-cloud-fill, .bi-cloud-drizzle-fill, .bi-moon-fill{
    margin-top:0.5rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10rem;
}

.info{
    text-align: center;
}