<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
</head>

<body>
        {{>navbar}}
        <div class = "mainIndex">
                <div class="indexHead">
                    <p>Welcome to weather app</p>
                    <h1>Get The Latest <span style="color: aqua;">Weather</span> Info Of Your City</h1>
                    
                </div>
                <div class="rightIndex">
                    <div class = "box">
                        <h1 class="searchHead">Search City</h1>
                        <div class="input-group rounded">
                            <input id = "search" type="search" class="form-control rounded searchBox " placeholder="Search City" aria-label="Search" aria-describedby="search-addon" />
                            <button type="button" id="searchButton" class="bttn" >Search</button>
                        </div>
                        <p id = "invalid" style="text-align: center;"></p>
                        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                            <div class="carousel-indicators">
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                            </div>
                            <div class="carousel-inner">
                                <div class="carousel-item active ">
                                <img src="images/bg1.jpg" class="w-100">
                                </div>
                                <div class="carousel-item">
                                <img src="images/bg2.jpg" class="w-100" >
                                </div>
                                <div class="carousel-item">
                                <img src="images/bg3.jpg" class="w-100" >
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                            </div>
                    </div>
                </div>
                
        </div>
    </div>
    {{>footer}}
</body>
<script src="js/script.js">
</script>
</html>